<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderLine">
      <h2 data-cy="orderLineDetailsHeading"><span jhiTranslate="laGuidonetteApp.orderLine.detail.title">Order Line</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderLine.id }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.orderLine.quantity">Quantity</span></dt>
        <dd>
          <span>{{ orderLine.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.orderLine.product">Product</span></dt>
        <dd>
          <div *ngIf="orderLine.product">
            <a [routerLink]="['/product', orderLine.product.id, 'view']">{{ orderLine.product.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.orderLine.torder">Torder</span></dt>
        <dd>
          <div *ngIf="orderLine.torder">
            <a [routerLink]="['/torder', orderLine.torder.id, 'view']">{{ orderLine.torder.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-line', orderLine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
