$color-button-bg-normal: #e5e7f1;
$color-button-bg-hover: #99ddcc;
$color-button-contour: #373737;
$color-navbar-bg: #373737;
$color-navbar-title: #e5e7f1;
$color-navbar-version: #99ddcc;
$color-navbar-tabs: #b4dfd4ff;
