<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="laGuidonetteApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.label">Label</span></dt>
        <dd>
          <span>{{ product.label }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.description">Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.price">Price</span></dt>
        <dd>
          <span>{{ product.price }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.brand">Brand</span></dt>
        <dd>
          <span jhiTranslate="{{ 'laGuidonetteApp.Brand.' + product.brand }}">{{ product.brand }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.model">Model</span></dt>
        <dd>
          <span>{{ product.model }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.color">Color</span></dt>
        <dd>
          <span jhiTranslate="{{ 'laGuidonetteApp.Color.' + product.color }}">{{ product.color }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.quantity">Quantity</span></dt>
        <dd>
          <span>{{ product.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.imageName">Image Name</span></dt>
        <dd>
          <span>{{ product.imageName }}</span>
        </dd>
        <dt><span jhiTranslate="laGuidonetteApp.product.version">Version</span></dt>
        <dd>
          <span>{{ product.version }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entity/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
