<div class="product-page">
  <div class="product">
    <div class="product-image">
      <!--- TODO get product image
      <img src="{{product?.mediaUrl}}"/>
      --->
    </div>
    <div class="product-text">
      <div class="product-header">
        <h1>{{product?.brand}}</h1>
        <h2>{{product?.model}}</h2>
      </div>
      <div class="product-infos">
        <h4>Marque :</h4>
        <p>{{product?.brand}}</p>
        <h4>Modèle :</h4>
        <p>{{product?.model}}</p>
        <h4>Label :</h4>
        <p>{{product?.label}}</p>
        <h4>Couleur :</h4>
        <p>{{product?.color}}</p>
      </div>
      <h4>Catégories :</h4>
      <p>{{product?.categories}}</p>
      <div class="product-descriptions">
        <h4>Description :</h4>
        <p>{{product?.description}}</p>
      </div>
    </div>
  </div>

  <div class="purchase-column">
    <h3>{{product?.price}}€</h3>
    <div class="product-purchase">
      <input id="numberOfItem" required type="number" [defaultValue]="1" min="1" max=99/>
      <button type="button" (click)="addToCart()">Ajouter au panier</button>
    </div>
  </div>
</div>
