<script src="order.component.ts"></script>
<script src="../payment/payment.component.ts"></script>
<div>
  <h1 id="Arian-title">Récapitulatif de commande</h1>
  <h3>Articles contenus dans la commande :</h3>
  <table *ngIf="!cartContentService?.isEmpty(); else cartEmpty">
    <thead>
      <tr>
        <td class="cols">Identifiant</td>
        <td class="cols">Nom</td>
        <td class="cols">Quantité</td>
        <td class="cols">Quantité en stock</td>
        <td class="cols">Prix unitaire</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productQuantity of cartContentService?.getProductsAndQuantity()">
        <td>{{ productQuantity.product.id }}</td>
        <td>{{ productQuantity.product.label }}</td>
        <td>{{ productQuantity.quantity }}</td>
        <td>{{ productQuantity.product.quantity }}</td>
        <td>{{ productQuantity.product.price }} €</td>
      </tr>
    </tbody>
  </table>

  <ng-template #cartEmpty>
    <i> Votre panier est vide ! </i>
  </ng-template>

  <h3>Prix total : {{ cartContentService?.getPrice() }}€</h3>
</div>
