<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-line-heading"
        data-cy="OrderLineCreateUpdateHeading"
        jhiTranslate="laGuidonetteApp.orderLine.home.createOrEditLabel"
      >
        Create or edit a Order Line
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.orderLine.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantity')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantity')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.orderLine.product" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.orderLine.torder" for="field_torder">Torder</label>
          <select
            class="form-control"
            id="field_torder"
            data-cy="torder"
            name="torder"
            formControlName="torder"
            [compareWith]="compareTorder"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="torderOption" *ngFor="let torderOption of tordersSharedCollection">{{ torderOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
