<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="laGuidonetteApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.brand" for="field_brand">Brand</label>
          <select class="form-control" name="brand" formControlName="brand" id="field_brand" data-cy="brand">
            <option [ngValue]="null">{{ 'laGuidonetteApp.Brand.null' | translate }}</option>
            <option *ngFor="let brand of brandValues" [value]="brand">{{ 'laGuidonetteApp.Brand.' + brand | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.color" for="field_color">Color</label>
          <select class="form-control" name="color" formControlName="color" id="field_color" data-cy="color">
            <option [ngValue]="null">{{ 'laGuidonetteApp.Color.null' | translate }}</option>
            <option *ngFor="let color of colorValues" [value]="color">{{ 'laGuidonetteApp.Color.' + color | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="laGuidonetteApp.product.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
