<div class="ligne-arianne">
  <div class="ball-wrapper">
    <div class="ball" [ngStyle]="step >= 1 ? { 'background-color': '#26408B' } : { 'background-color': '#8DE2D6' }"></div>
    <span>Recapitulatif</span>
  </div>
  <div class="ball-wrapper">
    <div class="ball" [ngStyle]="step >= 2 ? { 'background-color': '#26408B' } : { 'background-color': '#8DE2D6' }"></div>
    <span>Paiement</span>
  </div>
  <div class="ball-wrapper">
    <div class="ball" [ngStyle]="step >= 3 ? { 'background-color': '#26408B' } : { 'background-color': '#8DE2D6' }"></div>
    <span>Finalisation</span>
  </div>
</div>

<div *ngIf="step === 1">
  <jhi-order [cartContentService]="cartContentService"></jhi-order>
  <button type="button" class="btn-continue" (click)="goToCart()">Retour au panier</button>
  <button type="button" class="btn-continue" (click)="nextStep()" *ngIf="!cartContentService.isEmpty(); else notEmpty">
    Valider la commande
  </button>
  <ng-template #notEmpty>
    <button type="button" class="btn-continue" (click)="nextStep()" disabled>Valider la commande</button>
  </ng-template>
</div>

<div *ngIf="step === 2">
  <jhi-alert-error></jhi-alert-error>
  <jhi-payment></jhi-payment>
  <button type="button" class="btn-continue" (click)="previousStep()">Annuler</button>
  <button type="button" class="btn-continue" (click)="validateOrder()">Payer</button>
</div>

<div *ngIf="step === 3">
  <jhi-finalisation [order]="itorder"></jhi-finalisation>
  <button type="button" class="btn-continue" (click)="goToHome()">Retour à l'accueil</button>
</div>
