<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span>Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ category.name }}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <span *ngFor="let product of category.products; let last = last">
            <a [routerLink]="['/entity/product', product.id, 'view']">{{ product.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/entity/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
