<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="torder">
      <h2 data-cy="torderDetailsHeading"><span>Torder</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ torder.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ torder.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Total</span></dt>
        <dd>
          <span>{{ torder.total }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ torder.status }}</span>
        </dd>
        <dt><span>User ID</span></dt>
        <dd>
          <span>{{ torder.userID?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/entity/torder', torder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
