<p>cart works!</p>
<div class="top-container">
  <span>
    <button type="button" id="btn-cart-delete-all" (click)="deleteCart()">Supprimer panier</button>
  </span>
</div>

<div class="mid-container">
  <div class="product-container" *ngFor="let product of cartService.getCartItems()">
    <div class="top-bottom-text">
      <p>{{ product.label }}</p>
      <p>{{ product.brand }}, {{ product.color }}</p>
    </div>
    <button type="button" id="delete-one-from-cart" (click)="deleteItem(product)">Delete</button>
  </div>
</div>

<div class="bot-container" routerLinkActive="active">
  <button type="button" id="btn-cart-login" routerLink="/order" *ngIf="account.isAuthenticated()">Commander panier</button>
  <button type="button" id="btn-cart-continue" routerLink="/login" *ngIf="!account.isAuthenticated()">Commander panier</button>
</div>
