<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle">Créer un compte</h1>

      <div class="alert alert-success" *ngIf="success">
        <strong>Inscription enregistrée !</strong> Veuillez vérifier votre e-mail pour la confirmation
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>La création de compte a échoué</strong> Veuillez réessayer ultérieurement.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Nom d'utilisateur déjà enregistré !</strong> Veuillez en choisir un autre.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists">
        <strong>L'adresse e-mail est déjà utilisée </strong> Veuillez en choisir une autre.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Le mot de passe et sa confirmation ne correspondent pas</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="mb-3">
          <label class="form-label" for="login">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required">
              Votre nom d'utilisateur est requis
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
              Votre nom d'utilisateur doit comporter au moins 1 caractère.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
              Votre nom d'utilisateur ne peut pas dépasser 50 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern"> Your username is invalid. </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required">
              Votre adresse e-mail est requise.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid">
              Votre adresse e-mail est invalide.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
              Votre adresse e-mail doit comporter au moins 5 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
              Votre adresse e-mail ne peut pas dépasser 50 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">Nouveau mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Nouveau mot de passe"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required">
              Votre mot de passe est requis.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              Votre mot de passe doit comporter au moins 4 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              "Votre mot de passe ne peut pas dépasser 50 caractères."
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirmation du nouveau mot de passe"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              La confirmation de votre mot de passe est requise.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              "La confirmation de votre mot de passe doit comporter au moins 4 caractères
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              La confirmation de votre mot de passe ne peut pas dépasser 50 caractères.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
