<div class="row">
  <div class="col-25">
    <label for="card-name">Nom sur la carte</label>
  </div>
  <div class="col-75">
    <input
      [(ngModel)]="name"
      [ngClass]="{ 'input-red': !validInputs[3], 'input-green': validInputs[3] }"
      type="text"
      id="card-name"
      name="name"
      placeholder="John Doe .."
      (keyup)="formatName()"
      [style.background-color]="hasTriedToGoNext && !validInputs[3] ? 'indianred' : 'white'"
    />
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="card-number">Numéro de Carte</label>
  </div>
  <div class="col-75">
    <input
      [ngClass]="{ 'input-red': !validInputs[0], 'input-green': validInputs[0] }"
      id="card-number"
      type="text"
      [(ngModel)]="cardNumber"
      (keyup)="formatCardNumber()"
      placeholder="xxxx xxxx xxxx xxxx"
      maxlength="23"
      [style.background-color]="hasTriedToGoNext && !validInputs[0] ? 'indianred' : 'white'"
    />
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="card-expiration">Date d'expiration</label>
  </div>
  <div class="col-75">
    <input
      [ngClass]="{ 'input-red': !validInputs[1], 'input-green': validInputs[1] }"
      id="card-expiration"
      type="text"
      [(ngModel)]="expiryDate"
      (keyup)="formatExpiryDate()"
      placeholder="MM/YY"
      maxlength="5"
      [style.background-color]="hasTriedToGoNext && !validInputs[1] ? 'indianred' : 'white'"
    />
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="card-cvv">CVV</label>
  </div>
  <div class="col-75">
    <input
      [ngClass]="{ 'input-red': !validInputs[2], 'input-green': validInputs[3] }"
      id="card-cvv"
      type="text"
      [(ngModel)]="cvv"
      placeholder="XXX"
      maxlength="3"
      (keyup)="formatCVV()"
      [style.background-color]="hasTriedToGoNext && !validInputs[2] ? 'indianred' : 'white'"
    />
  </div>
</div>
