<mat-card class="bordered-card" *ngIf="product">
  <mat-card-header>
    <mat-card-title *ngIf="product.label">{{ product.label }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addToCart(product)">AJOUTER AU PANIER</button>
    <div class="bot-container" routerLinkActive="active" >
      <button mat-button type="button" id="btn-cart-continue" routerLink="/product/{{product.id}}">VOIR PRODUIT</button>
    </div>

  </mat-card-actions>
</mat-card>
